<!DOCFILE html>
<html>

<head>
</head>

<body>
<form action="/random/new">
  <div>
    <label for="minimum">Minimum</label>
   <input type="text" id="minimum" placeholder="E.g. 1.5">
  </div>
  <div>
    <label for="maximum">Maximum</label>
    <input type="text" id="maximum" placeholder="E.g. 4.5">
  </div>
  <button>Pick random number</button>
</form>
</body>
</html>
