<!DOCFILE html>
<html>

<head>
</head>

<body>
<form action="/square/new">
  <div>
    <label for="sq_input">Enter a number</label>
  </div>
  <div>
    <input type="text" id="sq_input" placeholder="What number do you want to take the square of?">
  </div>
  <button>Calculate square</button>
</form>
</body>
</html>
