<!DOCFILE html>
<html>

<head>
</head>

<body>
<form action="/square_root/new">
  <label for="sqrt_input">Enter a number</label>
  <input type="text" id="sqrt_input" name ="sqrt_input" placeholder="What number do you want to take the square root of?">
  <div><button>Calculate square</button></div>
</form>
<%= @sqrt %>
</body>
</html>
